.headers-paneles {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btn-alumnos {
    background: #aec670;
    padding: 8px;
    border-radius: 5px;
    color: white;
    border: 2px solid#778D45;
    transition: all 0.2s;
}

.btn-alumnos:active {
    transform: scale(0.9);
    transition: all 0.2s;
}

.btn-grupos {
    background: #81bece;
    padding: 8px;
    border-radius: 5px;
    color: white;
    border: 2px solid#036280;
    transition: all 0.2s;
}

.btn-grupos:active {
    transform: scale(0.9);
    transition: all 0.2s;
}
.container-tablas {
    height: 400px;
    padding: 20px;
    overflow-y: auto;
}
.container-fluid{
    background-color: #F0F0F0;
}
.navbar {
    padding: 10px 20px;  
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    background-color: #333;  
    color: white;  
    font-weight: bold;
}


.navbar-title {
    margin: 0; 
    font-size: 18px;
}

.navbar-logo {
    width: 100px;  
    height: auto;  
}
